## Fehlerbehebung mit Pandas

Das PopulationData Datenset hat jetzt noch Probleme:
- Löcher in den Daten (leere Felder)
- N.A.
- %-Zeichen
- Datentypen

In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", index_col="Country")

In [6]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      201 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

### Löcher erkennen

pd.isnull(Data), pd.notnull(Data)

data.isnull(), data.notnull()

In [8]:
data.isnull()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

Löcher füllen mit ffill (forwards-fill) oder bfill (backwards-fill)

In [11]:
data.ffill(inplace=True)

In [12]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

### N.A.

In [17]:
data == "N.A."  # Zeilen mit Fehlern finden

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [19]:
(data == "N.A.").value_counts()  # Spalten finden, welche die Fehler enthalten (alle Spalten mit mind. 1x True haben Fehler)

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldShare
False  False         False      False    False     False     False     False   False        False         194
                                                             True      True    False        False          28
                                                             False     False   True         False           7
                                                             True      True    True         False           6
Name: count, dtype: int64

In [20]:
data["FertRate"] == "N.A."

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: FertRate, Length: 235, dtype: bool

In [22]:
zeilen = data[data["FertRate"] == "N.A."]

In [23]:
zeilen["FertRate"] = 0

C:\Users\lk3\AppData\Local\Temp\ipykernel_19112\327149552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zeilen["FertRate"] = 0

In [28]:
zeilen.index

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [30]:
zeilen.loc[zeilen.index, "FertRate"] = 0  # loc wird hier verwendet, um alle Zeilen + die eine Spalte auszuwählen

In [32]:
data.loc[zeilen.index, "FertRate"] = 0  # Vom originalen Datenset die Zeilen nehmen, welche Fehler enthalten, und in die entsprechende Spalte 0 schreiben

In [33]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

#### Funktion für N.A. definieren

In [34]:
def fixNA(columnName: str, newValue):
    zeilen = data[data[columnName] == "N.A."]  # Finde die fehlerhaften Zeilen
    index = zeilen.index
    data.loc[index, columnName] = newValue

In [35]:
fixNA("MedAge", 0)

In [37]:
fixNA("UrbanPopPct", 0)

Diese Funktion kann auf jede Spalte angewandt werden, da sie keine Änderungen verursacht, wenn die Spalte fehlerfrei ist

In [40]:
for col in data.columns:
    fixNA(col, 0)

### Prozentzeichen

In [45]:
data["WorldShare"].replace(" %", "", regex=True)  # regex=True muss hier verwendet werden

Country
China               18.47
India               17.70
United States        4.25
Indonesia            3.51
Pakistan             2.83
                    ...
Montserrat           0.00
Falkland Islands     0.00
Niue                 0.00
Tokelau              0.00
Vatican State        0.00
Name: WorldShare, Length: 235, dtype: object

Mit data["Spaltenname"] = kann eine neue Spalte hinzugefügt/bestehende Spalte überschrieben werden

In [47]:
data["WorldShare"] = data["WorldShare"].replace(" %", "", regex=True)

In [48]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00

In [49]:
def fixPct(columnName: str):
    data[columnName] = data[columnName].replace(" %", "", regex=True)

In [50]:
for col in data.columns:
    fixPct(col)

In [51]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [57]:
data.convert_dtypes().info()  # Automatisch, funktioniert nicht immer

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   LandArea      235 non-null    Int64
 5   Migrants      235 non-null    Int64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [58]:
data["Pop"] = data["Pop"].astype(np.int32)

In [59]:
def fixType(columnName:str, newType):
    data[columnName] = data[columnName].astype(newType)

In [62]:
fixType("YearlyChange", np.float16)

In [65]:
fixType("NetChange", np.int32)

In [66]:
fixType("Density", np.int16)

In [67]:
fixType("LandArea", np.int32)

In [68]:
fixType("Migrants", np.int32)

In [69]:
fixType("FertRate", np.float16)

In [70]:
fixType("MedAge", np.int8)

In [71]:
fixType("UrbanPopPct", np.int8)

In [72]:
fixType("WorldShare", np.float16)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float16
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   LandArea      235 non-null    int32
 5   Migrants      235 non-null    int32
 6   FertRate      235 non-null    float16
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    int8
 9   WorldShare    235 non-null    float16
dtypes: float16(3), int16(1), int32(4), int8(2)
memory usage: 15.9+ KB

In [79]:
15.9 / 28.3  # Speicherbedarf vorher: 28KB, Speicherbedarf jetzt: 16KB, Effizienzsteigerung: ~44%

0.5618374558303887

In [78]:
data

C:\Users\lk3\source\repos\Python_DataScience_2025_03_10\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.389893,5540090,153,9388211,-348399,1.700195,38,61,18.468750
India,1380004385,0.990234,13586631,464,2973190,-532687,2.199219,28,35,17.703125
United States,331002651,0.589844,1937734,36,9147420,954806,1.799805,38,83,4.250000
Indonesia,273523615,1.070312,2898047,151,1811570,-98955,2.300781,30,56,3.509766
Pakistan,220892340,2.000000,4327022,287,770880,-233379,3.599609,23,35,2.830078
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.059998,3,50,100,0,0.000000,0,10,0.000000
Falkland Islands,3480,3.050781,103,0,12170,0,0.000000,0,66,0.000000
Niue,1626,0.680176,11,6,260,0,0.000000,0,46,0.000000
Tokelau,1357,1.269531,17,136,10,0,0.000000,0,0,0.000000
Vatican State,801,0.250000,2,2003,0,0,0.000000,0,0,0.000000

In [80]:
data.to_csv("Data/PopulationDataFertig.csv")